{% extends "accounts/base.html" %}
{% load cache %}

{% block title %}
    About me
{% endblock %}

{% block body %}
        <h1>User info</h1>
    {% cache 100 userinformation user.username %}
        <div>
            Products available: {% now "u" %}
        </div>
        <p>Username: {{ request.user.username }}</p>
        <p>First name: {{ request.user.first_name }}</p>
        <p>Last name: {{ request.user.last_name }}</p>
        <p>Email: {{ request.user.email }}</p>
        <p>Biography: {{ request.user.profile.biography }}</p>
    {% endcache %}

    <form method="post" enctype="multipart/form-data" action="{% url 'accounts:update-avatar' pk=user_profile.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update Avatar</button>
    </form>

    {% if user_profile.avatar %}
        <img src="{{ user_profile.avatar.url }}" alt="Avatar">
    {% else %}
        <p>No avatar found for this user.</p>
    {% endif %}
{% endblock %}