{% extends "accounts/base.html" %}

{% block title %}
    Update Avatar
{% endblock %}

{% block body %}
    <h1>Update Avatar</h1>
    <form method="post" enctype="multipart/form-data" action="{% url 'accounts:update-avatar' pk=user_profile.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
{% endblock %}
