{% extends "accounts/base.html" %}

{% block title %}
    User Detail - {{ user_profile.user.username }}
{% endblock %}

{% block body %}
    <h1>User Detail - {{ user_profile.user.username }}</h1>
    <p>First Name: {{ user_profile.user.first_name }}</p>
    <p>Last Name: {{ user_profile.user.last_name }}</p>
    <p>Email: {{ user_profile.user.email }}</p>

    <form method="post" enctype="multipart/form-data" action="{% url 'accounts:update-avatar' pk=user_profile.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update Avatar</button>
    </form>

    {% if user_profile.avatar %}
        <img src="{{ user_profile.avatar.url }}" alt="Avatar">
    {% else %}
        <p>No avatar found for this user.</p>
    {% endif %}
{% endblock %}