{% extends "accounts/base.html" %}

{% block title %}
    User List
{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Biography</th>
        </tr>
        {% for profile in profiles_list %}
        <tr>
            <td><a href="{% url 'accounts:user-detail' pk=profile.id %}">{{ profile.user.username }}</a></td>
            <td>{{ profile.user.email }}</td>
            <td>{{ profile.biography }}</td>
        </tr>
        {% endfor %}
    </table>
    <p>Number of users: {{ profiles_list|length }}</p>
{% endblock %}
