{% extends "blogapp/base.html" %}

{% block title %}
    List of articles
{% endblock %}

{% block body %}
    <h1>List of articles:</h1>
    <div>
        {% for article in object_list %}
            <div>
                <h2>
                    <a href="{% url 'blogapp:article' pk=article.pk %}">{{ article.title }}</a>
                </h2>
                <p><strong>Date of publication:</strong> {{ article.pub_date }}</p>
                <p><strong>Author:</strong> {{ article.author.name }}</p>
                <p><strong>Category:</strong> {{ article.category.name }}</p>
                <p><strong>Tags:</strong>
                    {% for tag in article.tags.all %}
                        {{ tag.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}