{% extends "blogapp/base.html" %}

{% block title %}
    Article №{{ object.pk }}
{% endblock %}

{% block body %}
    <h1>Article</h1>
    <div>
        <p>{{ article.title }}</p>
        <p>Date of publication: {{ article.pub_date }}</p>
        <p>Author: {{ article.author.name }}</p>
        <p>Category: {{ article.category.name }}</p>
    </div>
    <div>
        <a href="{% url 'blogapp:articles' %}">Back to articles list</a>
    </div>
{% endblock %}