<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Blog application
        {% endblock %}
    </title>
</head>
<body>
    {% block body %}
        <h2> Welcome to our blog application! </h2>
    {% endblock %}

<div>
    {% now "H:i" %}
</div>
<div>
    {% now "l" as current_weekday %}
    <h3>Today is: {{ current_weekday }}</h3>
</div>
</body>
</html>