<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Shop application
        {% endblock %}
    </title>
</head>
<body>
{% load i18n %}

{% block body %}
    <h2> Welcome to our application! </h2>
{% endblock %}

<div>
    {% now "H:i" %}
</div>
<div>
    {% now "l" as current_weekday %}
    <h3> {% translate "Today is" %}: {{ current_weekday }} </h3>
</div>
</body>
</html>