{% extends "shopapplication/base.html" %}

{% load i18n %}

{% block title %}
    {% translate "Orders list" %}
{% endblock %}


{% block body %}
    <h1>{% translate "Orders" %}:</h1>
    {% if object_list %}
        <div>
            {% for order in object_list %}
            <div>
                <p><a href="{% url 'shopapplication:order_details' pk=order.pk %}">
                    {% translate "Order" %} № {{ order.pk }}</a></p>
                <p>{% translate "Delivery address" %}: {{order.delivery_address}}</p>
                <p>{% translate "Promocode" %}: <code>{{ order.promocode }}</code></p>
                <p>{% translate "Order by" %}: {%firstof order.user%}</p>
                <div>
                    {% translate "Products in order" %}:
                <ul>
                    {% for product in order.products.all %}
                    <li>
                        {{ product.name }} for ${{ product.price }}
                    </li>
                  {% endfor %}
                </ul>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% else %}
        <h3>{% translate "No orders yet" %}</h3>
        {% endif %}
<div>
    <a href="{% url 'shopapplication:order_create' %}"
    >{% translate "Create a new order" %}</a>
</div>
{% endblock %}