{% extends "shopapplication/base.html" %}

{% load i18n %}

{% block title %}
    {% translate "Order" %} № {{ object.pk }} details
{% endblock %}

{% block body %}
    <h1>{% translate "Order" %} № {{ object.pk }}</h1>
    <div>
        <p>{% translate "Delivery address" %}: {{object.delivery_address}}</p>
        <p>{% translate "Promocode" %}: <code>{{ object.promocode }}</code></p>
        <p>{% translate "Order by" %}: {%firstof object.user%}</p>
        <div>
            {% translate "Products in order" %}:
            <ul>
                {% for product in object.products.all %}
                <li>
                    {{ product.name }} for ${{ product.price }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div>
        <a href="{% url 'shopapplication:order_update' pk=object.pk %}">{% translate "Update order" %}</a>
    </div>
    <div>
        <a href="{% url 'shopapplication:order_delete' pk=object.pk %}">{% translate "Delete order" %}</a>
    </div>
    <div>
        <a href="{% url 'shopapplication:order_list' %}">
            <h2>{% translate "Back to order list" %}</h2></a>
    </div>
{% endblock %}
