{% extends "shopapplication/base.html" %}

{% block title %}
    Update order
{% endblock %}

{% block body %}
    <h1>Update order № {{ object.pk }}</h1>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">
               Update
            </button>
        </form>
    </div>
    <div>
        <a href="{% url 'shopapplication:order_details' object.pk %}">
            <h2>
                Back to order № {{ object.pk }}
            </h2>
        </a>
    </div>
{% endblock %}
