{% extends "shopapplication/base.html" %}

{% block title %}
    Create Order
{% endblock %}

{% block body %}
    <h1>Create a New Order</h1>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create</button>
        </form>
    </div>
    <div>
        <a href="{% url 'shopapplication:order_list' %}">Back to Orders List</a>
    </div>
{% endblock %}
