{% extends "shopapplication/base.html" %}

{% block title %}
    Confirm delete {{ object.delivery_address }}
{% endblock %}

{% block body %}
    <h1>Are you sure you want to delete № {{ object.pk }} order?</h1>
    <br>
     <div>
        <a href="{% url 'shopapplication:order_details' pk=object.pk %}">
            <h2>
                Back to order
            </h2>

        </a>
    </div>
    <br>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Delete order</button>
        </form>
    </div>

{% endblock %}