{% extends "shopapplication/base.html" %}

{% block title %}
    Confirm archive {{ object.name }}
{% endblock %}

{% block body %}
    <h1>Are you sure you want to archive {{ object.name }}?</h1>
    <br>
     <div>
        <a href="{% url 'shopapplication:product_details' pk=object.pk %}">
            <h2>
                Back to product
            </h2>

        </a>
    </div>
    <br>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Archive product</button>
        </form>
    </div>

{% endblock %}