{% extends "shopapplication/base.html" %}

{% load i18n %}

{% block title %}
    {% translate "Product" %} #{{ product.pk }}
{% endblock %}

{% block body %}
    <h1>{% translate "Product" %} <strong>{{ product.name }}</strong></h1>
    <div>
        <div>{% translate "Description" %}: <em>{{ product.description }}</em></div>
        <div>{% translate "Price" %}: {{ product.price }}</div>
        <div>{% translate "Discount" %}: {{ product.discount }}</div>
        <div>{% translate "Created by" %}: {{ product.created_by.username }}</div>
        <div>{% translate "Archived" %}: {% if product.archived %}{% translate "Yes" %}{% else %}{% translate "No" %}{% endif %}</div>
        {% if product.preview %}
            <img src="{{ product.preview.url }}" alt="{{ product.preview.name }}">
        {% endif %}

        <h3>{% translate "Images" %}:</h3>
        <div>
            {% if product.images.count == 0 %}
                {% translate "No images uploaded yet" %}
            {% else %}
                {% blocktranslate count image_count=product.images.count %}
                    There is only one image.
                    {% plural %}
                    There are {{ image_count }} images.
                {% endblocktranslate %}
            {% endif %}

            {% for image in product.images.all %}
                <div>
                    <img src="{{ image.image.url }}" alt="{{ image.image.name }}">
                    <div>{{ image.description }}</div>
                </div>
            {% empty %}
                <div>{% translate "No images uploaded yet" %}</div>
            {% endfor %}
        </div>
    </div>
    <div>
        <a href="{% url 'shopapplication:product_update' pk=product.pk %}">{% translate "Update product" %}</a>
    </div>
    <div>
        <a href="{% url 'shopapplication:product_delete' pk=product.pk %}">{% translate "Archive product" %}</a>
    </div>
    <div>
        <a href="{% url 'shopapplication:products_list' %}">{% translate "Back to product list" %}</a>
    </div>
{% endblock %}