{% extends "shopapplication/base.html" %}

{% block title %}
    Create product
{% endblock %}

{% block body %}
    <h1>Create a new product</h1>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create</button>
        </form>
    </div>
    <div>
        <a href="{% url 'shopapplication:products-list' %}">
            <h2>
                Back to products list
            </h2>

        </a>
    </div>
{% endblock %}
