{% extends "shopapplication/base.html" %}

{% block title %}
    Update Product: {{ product.name }}
{% endblock %}

{% block body %}
    <h1>Update Product: <strong>{{ product.name }}</strong></h1>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update</button>
        </form>
    </div>
    <div>
        {% if perms.shopapplication.change_product and user == product.created_by %}
            <a href="{% url 'shopapplication:product_delete' pk=product.pk %}">Delete Product</a>
        {% endif %}
    </div>
    <div>
            <a href="{% url 'shopapplication:products_list' %}">Back to Product List</a>
    </div>
{% endblock %}
