{% extends "shopapplication/base.html" %}
{% load cache %}

{% block title %}
    Shop index
{% endblock %}


{% block body %}
    <h1>Welcome to our Shop application!</h1>
    <h2>Today we can offer for you:</h2>
    <h3>Computer Technology Department</h3>

    <div>
        <ul>
            {% for name, price in products %}
                <li>{{ name }} for $ {{ price }}</li>
                {% if name|length_is:"6" %}
                    <span>Congratulations! This product today is lucky, you can receive a discount of 19.99%.</span>
                {% elif name|length_is:"10" %}
                    <span>Congratulations! This product today is lucky, you can receive a discount of 9.99%.</span>
                {% else %}
                    <span>Please ask the seller about the discount.</span>
                {% endif %}
            {% empty %}
                We have no products today!
            {% endfor %}
        </ul>
    </div>

    <h3>Vacuum Cleaners Department</h3>

    <div>
        <ul>
            {% for name, price in vacuumcleaners %}
                <li>{{ name }} for $ {{ price }}</li>
                {% if price == 465 %}
                    <span>Congratulations! This product is lucky today, you can receive a discount of 11.11%.</span>
                {% elif name|length_is:"4" %}
                    <span>Congratulations! This product is lucky today, you can receive a discount of 9.99%.</span>
                {% elif "W" and "h" in name|title %}
                    <span>Congratulations! This product is lucky today, you can receive a discount of 15.99%.</span>
                {% else %}
                    <span>Please ask the seller about the discount.</span>
                {% endif %}
            {% empty %}
                We have no products today!
            {% endfor %}
        </ul>
    </div>

    <h3>Available pages:</h3>
    <ul>
        <li><a href="{% url 'shopapplication:index' %}">Start page</a></li>
        <li><a href="{% url 'shopapplication:groups_list' %}">Groups</a></li>
        <li><a href="{% url 'shopapplication:products_list' %}">Products</a></li>
        <li><a href="{% url 'shopapplication:order_list' %}">Orders</a></li>
        <li><a href="http://127.0.0.1:8000/en/shop/api/products/">API Products</a></li>
        <li><a href="http://127.0.0.1:8000/en/shop/api/orders/">API Orders</a></li>
    </ul>

    {% if not products and not vacuumcleaners %}
        <p>No available links.</p>
    {% endif %}
    <div>
        <strong>
            You have {{ items }} cherr{{ items|pluralize:"y,ies" }}
        </strong>
    </div>

    {% cache 60 time %}
    <div>
        Time running: {{ time_running }}
    </div>
    {% endcache %}

{% endblock %}