{% extends "shopapplication/base.html" %}
{% load cache %}

{% block body %}
  <h1>User {{ user.username }} has completed the following order(s):</h1>
  {% cache 120 user_orders user.id %}
    {% if orders %}
      <ul>
        {% for order in orders %}
          <li>Order № {{ order.id }} at {{ order.created_at }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>User {{ user.username }} has no orders yet.</p>
    {% endif %}
  {% endcache %}
{% endblock %}
